<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maup.news" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MAUPNEWS</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
  <icon src="res/icon/ios/icon@2x.png" />
  <platform name="ios">
    <preference name="deployment-target" value="11.0" />
    <preference name="SwiftVersion" value="5" />
    <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
    <icon src="res/icon/ios/icon@2x.png" />
    <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
    <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
    <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
    <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
    <icon height="83.5" src="res/icon/ios/icon-83.5.png" width="83.5" />
    <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
    <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
    <icon src="res/icon/ios/icon.png" width="57" height="57" />
    <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
    <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
    <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
    <icon src="res/icon/ios/icon-small@3x.png" width="87" height="87" />
  </platform>
  <platform name="android">
    <icon src="res/icon/android/ldpi.png" density="ldpi" />
    <icon src="res/icon/android/mdpi.png" density="mdpi" />
    <icon src="res/icon/android/hdpi.png" density="hdpi" />
    <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
    <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
    <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
  </platform>
</widget>
